#header {
    overflow: auto;
    height: $clusterflunk-header-height;

    #logo {
        float: left;
        background-image: url('../img/clusterflunk_logo.png');
    }

    #notifications {
        display: none;
    }

    #main_nav {
        float: left;
        @include horizontal-list-container;
        
        > li {
            font-family: "IconicFill";
            @include horizontal-list-item;

            a {
                @include unstyled-link;
            }
        }
    }

    #search {
        float: left;
    }

    #account {
        float: right;
    }
}