body {
    min-width: 960px;
}

/*
*
* Utilities
*
*/

.centered {
    margin: 0 auto;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.clear {
    clear: both;
}

/*
*
* Shapes
*
*/

.arrow_up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2B2E2E;
    margin-bottom: 4px;
}

.arrow_up:hover {
    border-bottom-color: #05C;
    cursor: pointer;
}

.arrow_down {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2B2E2E;
}

.arrow_down:hover {
    border-top-color: #05C;
    cursor: pointer;
}

/*
*
* Header
*
*/

.header {
    background-color: #2B2E2E;
    height: 40px;
}

.header_main, .index_header_main {
    width: 100%;
    height: 40px;
}

.index_header {
    background-color: #2B2E2E;
    height: 200px;
}

.logo {
    height: 18px;
    width: 110px;
    background-image: url('../img/clusterflunk_logo.png');
    background-size: 110px 18px;
}

.logo:hover {
    opacity: 0.85;
}

.logo_container {
    margin-left: 5px;
    padding-top: 10px;
    display: block;
    float: left;
}

.main_nav {
    display: block;
    float: left;
    margin-left: 10px;
    padding-top: 11px;
}

.main_nav li {
    float: left;
    margin-right: 5px;
}

.side_nav {
    float: right;
    height: 40px;
    padding-right: 10px;
}

.side_nav li {
    float: right;
    padding-top: 11px;
}

.side_nav li a {
    padding-left: 5px;
}

.side_nav #avatar {
    width: 22px;
    height: 21px;
    padding-top: 9px;
}

.side_nav #username {
    padding-left: 10px;
}

/*
*
*  BODY
*
*/

.body_main {
    padding-top: 5px;
    padding-left: 5px;
}

.side {
    float: right;
    width: 300px;
    padding: 5px;
}

.groups, .posts, .articles{
    padding-top: 5px;
}

.group, .post, .article {
    padding-top: 2px;
    padding-bottom: 2px;
}

.categories {
    padding-top: 5px;
}

.categories ul li {
    float: left;
    padding-right: 5px;
}

.post {
}

.comment {
    padding-top: 10px;
    padding-bottom: 15px;
}

.child {
    padding-top: 10px;
}

.children {
    padding-left: 30px;
}

.profile_pic {
    padding-top: 5px;
    padding-left: 5px;
    float: left;
}

.network {
    float: left;
}

.settings {
    padding-top: 5px;
    padding-left: 5px;
    float: left;
}

.settings h1 {
    padding-bottom: 5px;
}

.reply textarea {
    width: 500px;
    height: 100px;
    display: block;
}

.status {
    padding-top: 5px;
}

.status textarea {
    width: 635px;
    height: 60px;
    display: block;
}

.status #status_form #submit {
    margin-top: 5px;
}

.chosen_groups_container {
    width: 639px;
    border: 1px solid #DDD;
    margin-top: 5px;
}

.chosen_groups {
    float: left;
}

.chosen_groups li {
    display: inline;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #BEEB9F;
}

li.choose_group {
    margin: 0;
    background-color: #FFF;
}

.choose_group input {
    float: left;
    border: none;
    outline: none;
}

.ui-autocomplete {
    background-color: #FFF;
    width: 100px;
    padding: 3px;
    border: 1px solid #BEEB9F;
}

.ui-autocomplete li:hover {
    cursor: pointer;
    background-color: #BEEB9F;
}

/*
*
* Interface Elements
*
*/

.button-small-positive {
    color: #FFF;
    background-color: #05C;
    background-image: -webkit-linear-gradient(top, #08C, #05C);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 10px 4px;
}

.button-small-positive:hover {
    background-position: 0 -15px;
    cursor: pointer;
}

.button-small-negative {
    color: #2B2E2E;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 10px 4px;
}

.button-small-negative:hover {
    background-position: 0 -15px;
    cursor: pointer;
}