h1, a {
    font-family: Arial;
}

h1.light {
    color: #FFF;
    font-size: 15px;
}

h1.dark {
    color: #2B2E2E;
    font-size: 15px;
}

a.light {
    color: #BEEB9F;
    font-size: 12px;
    text-decoration: none;
}

a.light:hover {
    color: #FFF;
}

a.dark {
    color: #08C;
    font-size: 15px;
    text-decoration: none;
}

a.dark:hover {
    color: #005580;
}

/*
*
* Header
*
*/

.logo {
    color: #FFF;
    text-decoration: none;
}

.logo:hover {
    color: #BEEB9F;
}