h1, a {
    font-family: Arial;
}

h1.light {
    color: #FFF;
    font-size: 17px;
}

a.light {
    color: #BEEB9F;
    font-size: 13px;
    text-decoration: none;
}

a.light:hover {
    color: #FFF;
}