h1, a {
    font-family: Arial;
}

h1.light {
    color: #FFF;
    font-size: 15px;
}

h1.dark {
    color: #2B2E2E;
    font-size: 15px;
}

a.light {
    color: #BEEB9F;
    font-size: 12px;
    text-decoration: none;
}

a.light:hover {
    color: #FFF;
}