#header {

    #logo {
        background-image: url('../img/clusterflunk_logo.png');
    }

    #main_nav {
        margin-top: 6px;

        li {
            > a {
                font-family: "IconicFill";
                font-size: 14px; // Overriding SlickNasty
                padding: 4px 4px 4px 4px;
            }
        }
    }

    #notifications_button {
        background-color: $clusterflunk-notifications-button-bg-color;
        border-radius: 3px;
        margin-right: 5px;

        a {
            color: #FFF;
            font-family: "IconicFill";
            font-size: 14px;
        }

        &:hover, &.active {
            background-color: $clusterflunk-notifications-hover-bg-color;
            cursor: pointer;
            color: $slicknasty-f-color;
        }
    }

    #notifications {
            position: absolute;
            top: 50px;
            left: 105px;
            background-color: $clusterflunk-notifications-bg-color;
            width: 300px;
            padding: 5px;
            display: none;
            z-index: 1000;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.2);

            ul {
                float: left;

                li {
                    float: left;
                    display: block;
                    @include baseFont;
                }
            }

            .up_arrow {
                @include up_arrow($clusterflunk-notifications-bg-color, 10px);
                position: absolute;
                top: -10px;
                left: 36px;
            }
    }

}