/*
*
* Variables
*
*/

$bg: #5A88AC;

// Bootstrap
$clusterflunk-bg-color: $bg;
$clusterflunk-f-color: #CC3333;
$clusterflunk-icon-font: 'IconicFill';

// Elements
$clusterflunk-top-top-bg-color: #333;
$clusterflunk-top-bot-bg-color: #222;
$clusterflunk-header-padding: 5px;
$clusterflunk-header-height: 28px;
$clusterflunk-header-bg-color: #2B608C;
$clusterflunk-account-span-color: #FFF;
$clusterflunk-page-top-margin: 15px;
$clusterflunk-page-side-margin: 10px;
$clusterflunk-page-bottom-margin: 10px;
$clusterflunk-page-bg-color: $bg;
$clusterflunk-aside-width: 250px;
$clusterflunk-aside-padding: 5px;
$clusterflunk-aside-bg-color: $bg;
$clusterflunk-page-vert-padding: 5px;
$clusterflunk-page-left-padding: 5px;

// Navigation
$clusterflunk-nav-link-color: #FFF;

// Type
$clusterflunk-header-link-size: 12px;
$clusterflunk-base-font-size: 13px;
$clusterflunk-sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$clusterflunk-base-font-color: #333;
$clusterflunk-headings-color: #222;
$clusterflunk-headings-light-color: #e1e1e1;
$clusterflunk-headings-font-weight: 300;
$clusterflunk-labels-light-color: #F2F2F2;
$clusterflunk-link-color: #407CC2;

// Forms
$clusterflunk-input-top-color: #EBEBEB;
$clusterflunk-input-bot-color: #fefefe;
$clusterflunk-input-text-color: #2e2e2e;
$clusterflunk-input-border: 1px solid #94C4F4;
$clusterflunk-input-dark-color: #555;
$clusterflunk-input-dark-text-color: #FFF;
$clusterflunk-input-light-color: #FFF;
$clusterflunk-input-primary-top-color: #0580af;
$clusterflunk-input-primary-bot-color: #026c9a;
$clusterflunk-input-primary-text-color: #FFF;
$clusterflunk-input-danger-top-color: #E47777;
$clusterflunk-input-danger-bot-color: #DF5E5E;
$clusterflunk-input-danger-text-color: #FFF;
$clusterflunk-input-success-top-color: #5aa600;
$clusterflunk-input-success-bot-color: #539601;
$clusterflunk-input-success-text-color: #FFF;

// Header
$clusterflunk-notifications-bg-color: #FFF;
$clusterflunk-notifications-button-bg-color: #555;
$clusterflunk-notifications-hover-bg-color: #FFF;
$clusterflunk-status-input-width: 645px;
$clusterflunk-form-input-width: 645px;