/*
*
* Variables
*
*/

$clusterflunk-sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$clusterflunk-base-font-size: 11px;
$clusterflunk-base-light-font-color: #FFF;
$clusterflunk-base-dark-font-color: #2e2e2e;
$clusterflunk-link-color: #407CC2;