/*
*
* Variables
*
*/

// Bootstrap
@import "../slicknasty/scss/vars.scss";

// Header
$clusterflunk-notifications-bg-color: #FFF;
$clusterflunk-notifications-button-bg-color: #555;
$clusterflunk-notifications-hover-bg-color: #FFF;
$clusterflunk-status-input-width: 645px;
$clusterflunk-form-input-width: 645px;