/*
*
* Everything dealing with typography.
*
*/

@mixin base_text_light {
    font-size: $clusterflunk-base-font-size;
    font-family: $clusterflunk-sans-font-family;
    color: $clusterflunk-base-light-font-color;
}

@mixin base_text_dark {
    font-size: $clusterflunk-base-font-size;
    font-family: $clusterflunk-sans-font-family;
    color: $clusterflunk-base-dark-font-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $clusterflunk-base-dark-font-color;
    font-family: $clusterflunk-sans-font-family;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    @include base_text_light;
    text-decoration: none;
    color: $clusterflunk-link-color;
    cursor: pointer;
}

span {
    @include base_text_dark;
}

small {
    @include base_text_dark;
    color: #666;
    font-size: 11px;
}