/*
*
* Everything dealing with typography.
*
*/

@mixin baseFont {
    font-size: $clusterflunk-base-font-size;
    font-family: $clusterflunk-sans-font-family;
    color: $clusterflunk-base-font-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $clusterflunk-headings-color;
    font-family: $clusterflunk-sans-font-family;
    font-weight: $clusterflunk-headings-font-weight;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

span {
    @include baseFont;
    line-height: $clusterflunk-base-font-size + 3px;
}

span.block {
    display: block;
}

p {
    @include baseFont;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: $clusterflunk-base-font-size + 3px;
}

a {
    text-decoration: none;
    font-size: $clusterflunk-base-font-size;
    color: $clusterflunk-link-color;
    font-family: $clusterflunk-sans-font-family;
    cursor: pointer;
}

pre {
    line-height: $clusterflunk-base-font-size + 3px;
    border: 1px solid #DDD;
    padding: 10px;
    background-color: #FAFAFA;
}

small {
    @include baseFont;
    color: #666;
    font-size: 11px;
}