.large_logo {
    margin: 0 auto;
    width: 227px;
    height: 41px;
    background-image: url('../img/large_logo.png');
    margin: 100px auto 15px auto;
}

.social_connects {

    .facebook {
        margin-bottom: 15px;
        margin-right: 10px;
        float: left;
        width: 138px;
        height: 36px;
        display: block;
        background-position: 0px 0px;
        background-image: url('/static/img/social-connect.png');
    }

    .twitter {
        margin-bottom: 15px;
        float: right;
        width: 124px;
        height: 36px;
        display: block;
        background-position: 124px 0px;
        background-image: url('/static/img/social-connect.png');
    }
}

.login, .register, .networks {
    margin: 0 auto;
    width: 280px;

    input {
        margin-bottom: 10px;
    }

    input[type='text'], input[type='password'] {
        display: block;
        width: 280px;
        font-size: 30px;
        color: #444;
    }
}

.networks {

    .network_list {
        margin-bottom: 10px;

        li {
            @include base_text_dark();

            padding: 5px;
            border-radius: 3px;
            font-size: 13px;
            background-color: #96C663;
        }
    }
}