/*
*
* Posts
*
*/

.post_create_description {
    height: 200px;
}

/*
*
* All
*
*/

.page_heading {
    overflow: auto;

    h1 {
        float: left;
    }

    .page_actions {
        padding-top: 5px;
        float: right;
    }
}

.thumbnail {
    float: left;
    margin-top: 2px;
    margin-right: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.categories {
    @include horiz-list;

    li {
        padding: 2px 5px 2px 0px;
    }
}

.description {
    @include baseFont;
    line-height: $clusterflunk-base-font-size + 3px;
}

/*
*
* User/Group Picker
*
*/

.group_user_picker {

    .chosens {
        width: $clusterflunk-status-input-width + 12px;
        border: 1px solid silver;
        background-color: #FFF;
        padding: 2px;
        overflow: auto;

        li.chosen {
            padding-top: 6px;
        }

        li {
            font-size: 16px;
            font-family: $clusterflunk-sans-font-family;
            color: $clusterflunk-f-color;
            float: left;
            padding: 5px;

            .choose_input {
                padding: 0px;
                margin: 0px;
                border: 0px;
                display: inline;
                width: 165px;

                &:focus {
                    border: 0px;
                }
            }
        }
    }

    .availables {
        // Commenting out for wireframes
        // display:none;
        width: $clusterflunk-status-input-width;
        border: 1px solid silver;
        border-top: 0px;
        background-color: #FFF;
        padding: 8px;
        overflow: auto;

        .available {
            background-color: #FFF;
            width: 150px;
            padding: 5px 0px;
            float: left;
            @include baseFont;

            &:hover {
                color: $clusterflunk-f-color;
                cursor: pointer;
            }
        }
    }
}

/*
*
* Post/Group Create Pages
*
*/

form.realistic {

    .heading {
        color: $clusterflunk-headings-color;
        font-family: $clusterflunk-sans-font-family;
        font-weight: $clusterflunk-headings-font-weight;
        font-size: 24px;
    }

    input, textarea {
        width: $clusterflunk-form-input-width + 9px;
        border: 1px solid #FFF;
        display: block;
        padding: 3px;
        margin: 0px;

        &:focus {
            border: 1px dotted #94C4F4;
        }
    }

    textarea {
        margin: 3px 0px 3px 0px;
        height: 200px;
        font-size: 13px;
    }

    small {
        margin-left: 5px;
    }

    button {
        margin-top: 5px;
    }
}