#page_actions {
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 100;
}

.metadata {
    @include baseFont;
    color: #666;
    font-size: 11px;
}

.author {
    display: block;
}

.avatar {
    float: left;
}

.thumbnail {
    float: left;
    margin-top: 2px;
    margin-right: 6px;
}

.content {
    display: inline-block;
}

.chosens {
    width: $clusterflunk-status-input-width + 12px;
    border: 1px solid silver;
    background-color: #FFF;
    padding: 2px;
    overflow: auto;

    li.chosen {
        padding-top: 6px;
    }

    li {
        font-size: 16px;
        font-family: $clusterflunk-sans-font-family;
        color: $clusterflunk-f-color;
        float: left;
        padding: 5px;

        .choose_input {
            padding: 0px;
            margin: 0px;
            border: 0px;
            display: inline;

            &:focus {
                border: 0px;
            }
        }
    }
}

.availables {
    // Commenting out for wireframes
    // display:none;
    width: $clusterflunk-status-input-width;
    border: 1px solid silver;
    border-top: 0px;
    background-color: #FFF;
    padding: 8px;
    overflow: auto;

    .available {
        background-color: #FFF;
        width: 150px;
        padding: 5px 0px;
        float: left;
        @include baseFont;

        &:hover {
            color: $clusterflunk-f-color;
            cursor: pointer;
        }
    }
}

@mixin create_pages {
    .name {
        margin-top: 2px;
        margin-bottom: 1px;
        padding: 3px;
        color: $clusterflunk-headings-color;
        font-family: $clusterflunk-sans-font-family;
        font-weight: $clusterflunk-headings-font-weight;
        font-size: 24px;
    }

    .description {
        margin: 2px 0px 0px 0px;
        padding: 3px;
        font-size: 13px;
        height: 200px;
    }

    .metadata {
        margin-left: 4px;
    }

    .name, .description {
        width: $clusterflunk-form-input-width + 9px;
        border: 1px solid #FFF;
        display: block;

        &:focus {
            border: 1px dotted #94C4F4;
        }
    }

    form.basic {
        margin-bottom: 0px;

        .error {
            display: none;
            @include baseFont;
            padding: 9px;
            width: $clusterflunk-status-input-width;
            background-color: #D95C56;
            color: #FFF;
        }

        #create_submit {
            margin-top: 5px;
        }
    }
}