#group_index {
    position: relative;

    #categories {

        li {
            padding: 5px 5px 5px 0px;
        }
    }

    #groups {

        .group {
            padding: 5px 0px 5px 0px;
        }
    }
}

#group_view {
    position: relative;

    .group {
        margin-bottom: 10px;
    }
}

#group_create {
    position: relative;

    @include create_pages;
}