#group_index {
    position: relative;

    #categories {

        li {
            padding: 2px 5px 2px 0px;
        }
    }

    #groups {

        .group {
            font-size: 16px;
            padding: 5px 0px 5px 0px;

            .group_name {
                font-size: 16px;
                padding-top: 8px;
            }

            button {
                float: right;
            }
        }
    }
}

#group_view {
    position: relative;

    .group {
        margin-bottom: 10px;
    }
}

#group_create {
    position: relative;

    @include create_pages;
}