.condensed_post {
    display: block;
    overflow: auto;
    padding: 5px 0px;

    .content {
        float: left;
        margin-left: 5px;
        padding-top: 2px;
        display: block;

        > a {
            font-size: 15px;
        }

        small {
            display: block;
        }
    }

    .buttons {
        padding-top: 3px;
        float: right;
    }
}

.post_comment_tree {
    padding-top: 10px;

    > .post_comment {
        margin-bottom: 20px;
    }
}