.status {
    margin-top: 5px;
    margin-bottom: 15px;

    .thumbnail {
        margin-top: 10px;
    }

    .white_area {
        overflow: auto;
        position: relative;

        .content {
            padding: 10px;
            background-color: #FFF;
            float: left;
            border-radius: 5px;
            margin-left: 10px;

            .up_arrow {
                @include left_arrow(#FFF, 10px);
                position: absolute;
                top: 15px;
                left: 0px;
            }

            .status_comment_form {
                margin-bottom: 0px;
            }

            .status_comments {
                padding: 10px;
                margin-left: 20px;
                margin-top: 10px;
                background-color: #f2f4f7;
            }
        }
    }
}